<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>LilVoter</title>
</head>
<body ng-app="app" ng-cloak>

<h1 id="title">Lil-Voter</h1>

<div class="container">
  <ui-view></ui-view>
</div>

<div id="footer">
  <h2 style="">This app made in conjunction with <a href="https://www.reddit.com/r/jstogether">/r/jstogether</a></h2>
</div>

<script src="bundle.js"></script>

</body>
