body {
    padding-top: 15px;
    font-family: lobster, serif !important;
    background-color: #0288D1;
    height: 100%;
    color: #FFFFFF;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

#title {
    margin-left: 10%
}

.container {
    background-color: #03A9F4;
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    overflow: auto;
    padding: 20px;

    border-radius: 10px;

}

.poll-list-item {
    margin: 25px;
}

.md-button {
    padding: 10px;
    background-color: #448AFF
}

a {
    color: whitesmoke;
}

#create-button {
    position: relative;
    left: 25%;
    right: 25%;
    top: 10px;
    width: 50%;
    font-size: 16px;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background-color: #B3E5FC;
    width: 100%;

}

#footer h2 {
    margin-left: 10px;
    color:#727272
}
