body {
    padding: 15px;
    font-family: lobster, serif !important;
    background-color: #0288D1;
    height: 100%;
    color: #FFFFFF;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.container {
    background-color: #03A9F4;
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    overflow: auto;
    padding: 20px;

    border-radius: 10px;

}

.poll-list-item {
    margin: 25px;
}

.md-button {
    padding: 10px;
    background-color: #448AFF
}

div {
    margin: 5px;
}

a {
    color: whitesmoke;
}
