<md-card-content>
    <div>
        <label>
            Create New Poll
            <md-button ng-click="managerCtrl.createPoll()">Create</md-button>
        </label>
    </div>
    <div>
        <h4>Existing Polls:</h4>

        <div class="poll-list-item" ng-repeat="poll in managerCtrl.polls">
            <md-button ui-sref="vote({id:poll._id})">{{poll.title}}</md-button>
            ||
            <md-button ui-sref="results({id:poll._id})">See Results</md-button>
        </div>
    </div>
</md-card-content>